<mat-card>
    <mat-card-content>
      <!--<mat-form-field appearance="outline">
        <mat-label>N° Pedido</mat-label>
        <input matInput placeholder="Ex. 2">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cliente</mat-label>
        <input matInput placeholder="Ex. Roberto Teixeira Sus">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Data de emissão</mat-label>
        <input matInput placeholder="Ex. 04-05-2022">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Data de entrega</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>-->

      <!--Buscar cliente-->


      <!--<mat-form-field class="example-full-width" appearance="fill"> 
          <mat-label>Busque um cliente</mat-label>
          <input matInput placeholder="Ex. Heloisa Poderosa Lindona"  [(ngModel)]="nome">
          <button mat-icon-button matSuffix class="botao" (click)="openDialog()"><mat-icon>add_circle_outline</mat-icon></button>
        </mat-form-field>-->  

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Busque um cliente</mat-label>
          <input type="text" placeholder="Hello" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
        </mat-form-field>

    </mat-card-content>
</mat-card>
<!--<mat-card>
  <mat-label>Selecione um endereço</mat-label>
  <app-dropdown [array]="enderecos" [idField]="'id'" [textField]="'logradouro'"  [(ngModel)]="selectedEndereco"></app-dropdown><br>
  
</mat-card>-->

<table id="tabelinha">
  <tr>
      <th> ID </th>
      <th> Descrição </th>
      <th> Quantidade </th>
      <th> Valor Unitário </th>
      <th> Descontos </th>
      <th> Acrescimos </th>
      <th> Total </th>
  </tr>

  <tr *ngFor="let person of pedidos" >
      <td> {{person.id}} </td>
      <td> {{person.description}} </td>
      <td> {{person.qtd}} </td>
      <td> {{person.valorUnidade}} </td>
      <td> {{person.decrescimo}} </td>
      <td> {{person.acrescimo}} </td>
      <td> {{person.total}} </td>

  </tr> 

  
</table>
