#modal{
    align-items: center;
}
.botao{
    margin: 10px;
    
}
#botao{
    display: block;
    float: right;
}
h4{
    margin: 10px;
}
mat-form-field{
    padding: 5px;
    margin-top: 10px;
    max-width: 200px;
}
mat-tab{
    margin-top: 10px;
}
.botaozin{
    background-color: rgb(76, 3, 160);
    color: white;
  }
div{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
