#modal{
    align-items: center;
    text-align: center;
}
.botao{
    display: block;
    float: right;
    margin: 0 auto;
}

#botao1{
    background-color: rgb(76, 3, 160);
    color: white;
}

mat-form-field{
    margin: 10px;
}
