<mat-tab-group id="modal">
   <mat-tab label="Excluir">
      <h4>Deseja excluir mesmo?</h4>
      <div> 
         <button mat-raised-button class="botao" class="botaozin" (click)="delete()"><mat-icon>delete</mat-icon></button>
         <button mat-raised-button class="botao" (click)="cancel()">Sair</button>
      </div>
      
         
   </mat-tab>

   <mat-tab label="Editar">

        <mat-form-field class="example-full-width" appearance="fill" >
            <mat-label>Insira o nome</mat-label>
           <input matInput placeholder="Ex. André Ricardo Rocha" class="inputzin" [(ngModel)]="nome">
        </mat-form-field>

        <mat-form-field hintLabel="É preciso 14 caracteres!" appearance="fill">
         <mat-label>Insira o cnpj</mat-label>
         <input matInput #input maxlength="14" placeholder="Ex. XX. XXX. XXX/0001-XX" class="inputzin" [(ngModel)]="cnpj">
         <mat-hint align="end">{{input.value.length}}/14</mat-hint>
       </mat-form-field> 

        <mat-form-field class="example-full-width" appearance="fill" >
           <mat-label>Insira a Razão Social</mat-label>
           <input matInput placeholder="Ex. Itaú Unibanco Banco Múltiplo S.A" class="inputzin" [(ngModel)]="razaoSocial">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" >
         <mat-label>Insira o referencia</mat-label>
         <input matInput placeholder="Ex. Itaú Unibanco Banco Múltiplo S.A" class="inputzin" [(ngModel)]="referencia">
      </mat-form-field>

        <div mat-dialog-actions> 
         <button mat-raised-button class="botao" class="botaozin" (click)="edit(nome, cnpj, razaoSocial, referencia)"><mat-icon>edit</mat-icon></button>
         <button mat-raised-button class="botao" (click)="cancel()">Sair</button>
        </div>
           
   </mat-tab>

   <mat-tab label="Endereços">
      <table id="tabelinha">
         <tr>
            <th>Logradouro</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>UF</th>
            <th>CEP</th>
            <th>Número</th>
            <th>Complemento</th>
            <th>Ponto de referência</th>
         </tr>
         <tr *ngFor="let person of clientes">
            <td>{{person.logradouro}}</td>
            <td>{{person.bairro}}</td>
            <td>{{person.cidade}}</td>
            <td>{{person.uf}}</td>
            <td>{{person.cep}}</td>
            <td>{{person.numero}}</td>
            <td>{{person.complemento}}</td>
            <td>{{person.referencia}}</td>
         </tr>
      </table>
  
 </mat-tab>
</mat-tab-group>
