#modal{
    align-items: center;
}
.botao{
    display: block;
    float: right;
    margin: 0 auto;
}
mat-form-field{
    margin-top: 15px;
}
#botao1{
    background-color: rgb(76, 3, 160);
    color: white;
}