<mat-tab-group id="modal">
    <mat-tab label="Inserir">

      <h1>Informações</h1>

        <mat-form-field class="example-full-width" appearance="fill" >
            <mat-label>Insira o nome</mat-label>
           <input matInput placeholder="Ex. André Ricardo Rocha" class="inputzin" [(ngModel)]="nome">
        </mat-form-field>

       
         <mat-form-field hintLabel="É preciso 14 caracteres!" appearance="fill">
           <mat-label>Insira o cnpj</mat-label>
           <input matInput #input maxlength="14" placeholder="Ex. XX. XXX. XXX/0001-XX" class="inputzin" [(ngModel)]="cnpj">
           <mat-hint align="end">{{input.value.length}}/14</mat-hint>
         </mat-form-field>   

        <mat-form-field class="example-full-width" appearance="fill" >
           <mat-label>Insira a Razão Social</mat-label>
           <input matInput placeholder="Ex. Itaú Unibanco Banco Múltiplo S.A" class="inputzin" [(ngModel)]="razaoSocial">
        </mat-form-field>

        <!--<mat-form-field appearance="fill" id="data">
         <mat-label>Cliente desde</mat-label>
         <input matInput [matDatepicker]="picker">
         <mat-hint>MM/DD/YYYY</mat-hint>
         <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
         <mat-datepicker #picker [(ngModel)]="clienteDesde"></mat-datepicker>
       </mat-form-field>-->

        <!--<mat-form-field class="example-full-width" appearance="fill" >
           <mat-label>Cliente desde</mat-label>
           <input matInput placeholder="Ex. 2015" class="inputzin" [(ngModel)]="clienteDesde">
        </mat-form-field>-->

        <h1>Informações Adicionais</h1>

        <mat-form-field class="example-full-width" appearance="fill" >
          <mat-label>CEP</mat-label>
          <input matInput placeholder="Ex. 00000-000" class="inputzin" [(ngModel)]="cep" (blur)="consultaCep()">
         </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" >
         <mat-label>Logradouro</mat-label>
         <input matInput placeholder="Ex. Irmão Leão Magno" class="inputzin" [(ngModel)]="logradouro">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" >
         <mat-label>Bairro</mat-label>
         <input matInput placeholder="Ex. Amizade" class="inputzin" [(ngModel)]="bairro" >
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" >
         <mat-label>Cidade</mat-label>
         <input matInput placeholder="Ex. Jaraguá do Sul" class="inputzin" [(ngModel)]="cidade" >
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" >
          <mat-label>UF</mat-label>
          <input matInput placeholder="Ex. Jaraguá do Sul" class="inputzin" [(ngModel)]="uf">
         </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" >
        <mat-label>Número</mat-label>
         <input matInput placeholder="Ex. 140" class="inputzin" [(ngModel)]="numero">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" >
        <mat-label>Complemento</mat-label>
         <input matInput placeholder="Ex. apt. 204" class="inputzin" [(ngModel)]="complemento">
        </mat-form-field>
        
        <mat-form-field class="example-full-width" appearance="fill" >
        <mat-label>Ponto de referência</mat-label>
         <input matInput placeholder="Ex. Bar do Arlindo" class="inputzin" [(ngModel)]="referencia">
        </mat-form-field>

   </mat-tab>

</mat-tab-group>
  <div mat-dialog-actions>
   <button mat-raised-button class="botao" id="botao1" (click)="insert()">Confirmar</button>
   <button mat-raised-button class="botao" (click)="cancel()">Sair</button>
  </div>

  
