mat-form-field{
    margin-right: 10px;
    margin-top: 5px;
}
.botao{
    margin: 10px;
}
#modal{
    align-items: center;
}

#data{
    width: 200px;
}
.botaozin{
    background-color: rgb(76, 3, 160);
    color: white;
  }
div{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
