mat-form-field{
    margin-right: 10px;
    margin-top: 5px;
}
.botao{
    display: block;
    float: right;
    margin: 0 auto;
}
#modal{
    align-items: center;
}
#botaozin{
    margin-bottom: 10px;
}
#data{
    width: 200px;
}
#botao1{
    background-color: rgb(76, 3, 160);
    color: white;
}
