#modal{
    align-items: center;
}

mat-tab{
    padding: 100px;
}

mat-form-field{
    margin-top: 10px;
}

h4{
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.botao{
    margin: 10px;
    
}
.botaozin{
    background-color: rgb(76, 3, 160);
    color: white;
}
div{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}